<div id="<%= dom_id friend %>">
  <p>
    <%= friend.first_name %>
  </p>
  <p>
    <%= friend.last_name %>
  </p>
  <p>
    <%= friend.email %>
  </p>
  <p>
    <%= friend.phone %>
  </p>
  <p>
    <%= friend.address %>
  </p>
</div>
