<table class="table table-secondary table-striped table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr class="table-warning">
            <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.address %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>
