<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="display-4"><strong><%= "#{@friend.first_name} #{@friend.last_name}" %></strong></h1>
    </div>
    <div class="card-body">
      <p class=""><strong>Email: </strong><%= "#{@friend.email}"%></p>
      <p class=""><strong>Phone Number: </strong><%= "#{@friend.phone}"%></p>
      <p class=""><strong>Address: </strong><%= "#{@friend.address}"%></p>

      <div>
        <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary mt-3" %>
        <%= link_to "Back to friends", friends_path, class:"btn btn-secondary mt-3" %>

        <%= button_to "Delete this friend", @friend, method: :delete, class:"btn btn-danger mt-5" %>
      </div>
    </div>
  </div>
</div>
