<nav class="navbar bg-secondary navbar-expand-lg bg-body-terjtiary">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "friends_logo2.png", alt:"Friends Logo", style:"width: 150px; height: auto;" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Friends List", friends_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add Friend", new_friend_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", home_about_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <% link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-white" %>
          </li>
          <%= form_with url: friends_path, method: :get, class:"d-flex", role: "search" do |form| %>
            <%= form.text_field :query, class:"form-control me-2", placeholder:"Search for a friend...", aria_label:"Search", value: params[:query] %>
            <%= form.submit "Search", class:"btn btn-dark" %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "About Us", home_about_path, class:"nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
